servidor/datos.html
servidor/imagen.png
servidor/*.pyc
servidor/datosVerificados.txt
servidor/datos.txt
servidor/templates/resultado.html
servidor/temperaturas.txt
servidor/__pycache__/**
servidor/venv/**