<html>
<head>
  <meta charset="utf-8">

  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" media="all">

  <link type="text/css" rel="stylesheet" href="../static/fonts/fontawesome/css/all.css">
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/style1.min.css" media="all">

  <link type="text/css" rel="stylesheet" href="../static/stylesheets/custom.css" media="all">
  <link rel="stylesheet" href="../static/stylesheets/merienda-one.css">

  <title>Ayuda | Cámara Termográfica</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img class="logo" src="../static/images/logo_TermoTech01.png">
      </a>
    </nav>
  </header>

  <main>
    <div>

      <section class="jumbotron" style="background-image: url(../static/images/jumbotronComoSeHace.jpg);">    
        <div class="jumbotron_body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h1 style="font-family: 'Merienda One';">Dispositivo generador de imágenes termográficas</p>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay">
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row panels-row">

            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <i class="fa fa-fw fa-3x fa-file-code text-primary"></i>
                    </div>
                    <div class="media-body">
                      <h3>Código fuente</h3>
                      <div class="text-muted">
                        <p>Para realizar este proyecto, tendrás la posibilidad de entrar <a href="https://github.com/manuelbb/Camara-termografica" style="color: black">aquí</a> y descargar el código utilizado.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <i class="fa fa-fw fa-3x fa-wrench text-primary"></i>
                    </div>
                    <div class="media-body">
                      <h3>Herramientas</h3>
                      <div class="text-muted">
                        <p>Se utiliza Python 2.7 y el IDE de Arduino. La implementación de la página web, se realizó con un microframework de Python llamado Flask.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <i class="fa fa-fw fa-3x fa-file-pdf text-primary"></i>
                    </div>
                    <div class="media-body">
                      <h3>Instrucciones</h3>
                      <div class="text-muted">
                        <p>Descargando el siguiente <a href="https://www.dropbox.com/s/9zgd556fl2r3u0o/Paso%20a%20paso%20como%20se%20realiz%C3%B3%20el%20proyecto.docx?dl=0" style="color: black">archivo pdf</a> usted podrá ser capaz de desarrollar este dispositivo con todas las implementaciones e instalaciones necesarias para el correcto funcionamiento del mismo.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>

      <section>
        <div class="container text-center">
          <img src="/static/images/desarrollo.jpg" style="width:800px;height:500px;">
        </div>

        <br><br>

        <div class="container">
          <div class="row">
            <div class="col">
              <img style="max-width: 100%;" src="/static/images/cuarto-escaneo-500ms.png">
              <p style="color: black; font-family: 'Merienda One'; padding: 20px;">Frecuencia de muestreo: 500ms.<br>Tiempo estimado: 60 minutos.</p>
            </div>
            <div class="col">
              <img style="max-width: 100%;" src="/static/images/prueba-finalizada.png">
              <p style="color: black; font-family: 'Merienda One'; padding: 20px;">Frecuencia de muestreo: 40ms.<br>Tiempo estimado: 6 minutos.</p>
            </div>
          </div>
        </div>
      </section>

    </div>
  </main>

  <footer>
    <a class="footer-item" href="/">Inicio</a>
    <a class="footer-item" href="ayuda">Ayuda</a>
    <a class="footer-item" href="quien-soy">¿Quién lo realizó?</a>
    <a class="footer-item" href="camara">Cámara</a>
  </footer>

</body>
</html>

