<html>
<head>
  <script>
    // Cuenta el tiempo de escaneo y calcula el porcentaje restante 
    // Set the date we're counting down to
    var tiempo = 6; // Tiempo que tarda en procesarse todos los datos para que se habilite el boton VerResultado
    var countDownDate = new Date().getTime();
    countDownDate += 1000*60*tiempo;
    contador = false;
    // Update the count down every 1 second
    var x = setInterval(function() {
        // Get todays date and time
        var now = new Date().getTime();
        // Find the distance between now an the count down date
        var distance = countDownDate - now;
        var ms = tiempo*60000/1 // Pasa de minutos a ms para calcular el porcentaje
        var porcentaje = (100 - (distance * 100 / ms)).toFixed(2);;    // toFixed se queda con dos digitos despues de la coma   
        // Time calculations for minutes and seconds
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        // If the count down is over, write some text 
        if (distance <= 0) {
          contador = false;
          window.location.reload(1);
        }
        // Output the result in an element with id="demo"
        if (contador == true) {
          document.getElementById("demo").innerHTML =  minutes + "m " + seconds + "s ";
          document.getElementById("porcentaje").innerHTML =  porcentaje + "%";
        }
    }, 1000); // Cada cuánto tiempo cuenta

    function start_contador(){
      contador = true;
      countDownDate = new Date().getTime();
      countDownDate += 1000*60*tiempo; 
    }
  </script>

  <meta charset="utf-8">

  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" media="all">

  <link type="text/css" rel="stylesheet" href="../static/fonts/fontawesome/css/all.css">
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/style1.min.css" media="all">

  <link type="text/css" rel="stylesheet" href="../static/stylesheets/custom.css" media="all">
  <link rel="stylesheet" href="../static/stylesheets/merienda-one.css">

  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet"> 

  <title>Cámara | Cámara Termográfica</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img class="logo" src="../static/images/logo_TermoTech01.png">
      </a>
    </nav>
  </header>

  <main>
    <div>

      <section class="jumbotron" style="background-image: url(../static/images/jumbotronCamara.jpg);">    
        <div class="jumbotron_body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h1 style="font-family: 'Merienda One';">Dispositivo generador de imágenes termográficas</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay">
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row panels-row">

            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="/camara" class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <strong class="text-primary" style="font-size: 45px">1</strong>
                    </div>
                    <div class="media-body">
                      <h3>Cámara Termográfica</h3>
                      <div class="text-muted">
                        <p>Para comenzar a escanear el objeto, por favor presione el botón Leer Datos y a continuación presione el botón de Start en el dispositivo.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="/ayuda" class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <strong class="text-primary" style="font-size: 45px">2</strong>
                    </div>
                    <div class="media-body">
                      <h3>¿Cómo se realiza?</h3>
                      <div class="text-muted">
                        <p>Una vez presionado el botón de Leer Datos, espere que finalice el escaneo y se habilitará el boton Ver Resultados. Dicho botón lo redirigirá a la imagen generada final.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="/quien-soy" class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <strong class="text-primary" style="font-size: 45px">3</strong>
                    </div>
                    <div class="media-body">
                      <h3>¿Quién lo realizó y con qué fin?</h3>
                      <div class="text-muted">
                        <p>Al finalizar, se actualizarán los valores de temperatura leídas para mayor facilidad de lectura.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </section>

      <hr class="hr">

      <section>

        <form action="/camara" method="POST">
          <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-5">
              <p><a class="btn btn-md btn-success" name="ver" role="button" {{resultado}}>Ver Resultado</a></p>
              <p><a id="botonNaranja" class="btn btn-md btn-success" name="ver" data-toggle="tooltip" data-placement="right" title="Luego presione Start" role="button" onclick="window.open('/lee_datos'); start_contador()">Leer Datos</a></p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <label class="labelPanel" >Temperatura Mínima: &nbsp<span class="badge">{{tempmin}} °C</span></label>
              <br><br>

              <label class="labelPanel">Temperatura Máxima: &nbsp<span class="badge">{{tempmax}} °C</span></label>
              <br><br>

              <label class="labelPanel">Porcentaje Escaneado: &nbsp<span class="badge" id="porcentaje">{{porcentaje}} %</span></label>
              <br><br>

              <label class="labelPanel">Tiempo Restante: &nbsp<span class="badge" id="demo">{{tiempo}} Segundos</span></label>
              <br><br>

              <label class="labelPanel">Resolución:&nbsp<span class="badge">36 x 180</span></label>
            </div>
          </div>
        </form>
      </section>

      <br>
    </div>
  </main>

  <hr class="hr">

  <footer>
    <a class="footer-item" href="/">Inicio</a>
    <a class="footer-item" href="ayuda">Ayuda</a>
    <a class="footer-item" href="quien-soy">¿Quién lo realizó?</a>
    <a class="footer-item" href="camara">Cámara</a>
  </footer>

</body>
</html>