<html>
<head>
  <meta charset="utf-8">

  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" media="all">

  <link type="text/css" rel="stylesheet" href="../static/fonts/fontawesome/css/all.css">
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/style1.min.css" media="all">

  <link type="text/css" rel="stylesheet" href="../static/stylesheets/custom.css" media="all">
  <link rel="stylesheet" href="../static/stylesheets/merienda-one.css">

  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet"> 

  <title>Cámara | Cámara Termográfica</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img class="logo" src="../static/images/logo_TermoTech01.png">
      </a>
    </nav>
  </header>

  <main>
    <div>

      <section class="jumbotron" style="background-image: url(../static/images/jumbotronCamara.jpg);">    
        <div class="jumbotron_body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h1 style="font-family: 'Merienda One';">Dispositivo generador de imágenes termográficas</h1>
                <a id="botonNaranja" class="btn btn-md btn-success" name="ver" data-toggle="tooltip" data-placement="right" title="Luego presione Start" role="button" onclick="window.open('/lee_datos'); start_contador()">Leer Datos</a>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay">
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row panels-row">

            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="/camara" class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <strong class="text-primary" style="font-size: 45px">1</strong>
                    </div>
                    <div class="media-body">
                      <h3>Cámara Termográfica</h3>
                      <div class="text-muted">
                        <p>Para comenzar a escanear el objeto, por favor presione el botón Leer Datos y a continuación presione el botón de Start en el dispositivo.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="/ayuda" class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <strong class="text-primary" style="font-size: 45px">2</strong>
                    </div>
                    <div class="media-body">
                      <h3>¿Cómo se realiza?</h3>
                      <div class="text-muted">
                        <p>Una vez presionado el botón de Leer Datos, espere que finalice el escaneo y se habilitará el boton Ver Resultados. Dicho botón lo redirigirá a la imagen generada final.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="/quien-soy" class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <strong class="text-primary" style="font-size: 45px">3</strong>
                    </div>
                    <div class="media-body">
                      <h3>¿Quién lo realizó y con qué fin?</h3>
                      <div class="text-muted">
                        <p>Al finalizar, se actualizarán los valores de temperatura leídas para mayor facilidad de lectura.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </section>

    </div>
  </main>

  <footer>
    <a class="footer-item" href="/">Inicio</a>
    <a class="footer-item" href="ayuda">Ayuda</a>
    <a class="footer-item" href="quien-soy">¿Quién lo realizó?</a>
    <a class="footer-item" href="camara">Cámara</a>
  </footer>

</body>
</html>