<html>
<head>
  <meta charset="utf-8">

  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" media="all">

  <link type="text/css" rel="stylesheet" href="../static/fonts/fontawesome/css/all.css">
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/style1.min.css" media="all">

  <link type="text/css" rel="stylesheet" href="../static/stylesheets/custom.css" media="all">
  <link rel="stylesheet" href="../static/stylesheets/merienda-one.css">

  <title>Inicio | Cámara Termográfica</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img class="logo" src="../static/images/logo_TermoTech01.png">
      </a>
    </nav>
  </header>

  <main>
    <div>

      <section class="jumbotron" style="background-image: url(../static/images/jumbotronIndex.jpg);">    
        <div class="jumbotron_body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h1 style="font-family: 'Merienda One';">Utilizá el dispositivo generador de imágenes termográficas!</p>
                <p><a id="botonVioleta" class="btn btn-lg btn-success" href="camara" role="button">Fotografiar</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay">
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row panels-row">

            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="/camara" class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <i class="fa fa-fw fa-3x fa-camera text-primary"></i>
                    </div>
                    <div class="media-body">
                      <h3>Cámara Termográfica</h3>
                      <div class="text-muted">
                        <p>Entrá y utilizá la cámara. Te daremos un pequeño instructivo de cómo se utiliza.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="/ayuda" class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <i class="fa fa-fw fa-3x fa-wrench text-primary"></i>
                    </div>
                    <div class="media-body">
                      <h3>¿Cómo se realiza?</h3>
                      <div class="text-muted">
                        <p>Si querés construir tu propia cámara averigua cómo y los materiales que necesitas!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="/quien-soy" class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <i class="fa fa-fw fa-3x fa-users text-primary"></i>
                    </div>
                    <div class="media-body">
                      <h3>¿Quién lo realizó y con qué fin?</h3>
                      <div class="text-muted">
                        <p>Si querés saber de donde surgió la idea, te lo cuento.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </section>

    </div>
  </main>

  <footer>
    <a class="footer-item" href="/">Inicio</a>
    <a class="footer-item" href="ayuda">Ayuda</a>
    <a class="footer-item" href="quien-soy">¿Quién lo realizó?</a>
    <a class="footer-item" href="camara">Cámara</a>
  </footer>

</body>
</html>

