<html>
<head>
  <meta charset="utf-8">

  <link type="text/css" rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" media="all">

  <link type="text/css" rel="stylesheet" href="../static/fonts/fontawesome/css/all.css">
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/style1.min.css" media="all">

  <link type="text/css" rel="stylesheet" href="../static/stylesheets/custom.css" media="all">
  <link rel="stylesheet" href="../static/stylesheets/merienda-one.css">

  <title>Quién soy | Cámara Termográfica</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img class="logo" src="../static/images/logo_TermoTech01.png">
      </a>
    </nav>
  </header>

  <main>
    <div>

      <section class="jumbotron" style="background-image: url(../static/images/jumbotronQuien.jpg);background-size:100% 100%;">
        <div class="jumbotron_body">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h1 style="font-family: 'Merienda One';">Taller de Proyecto <br> 2</p>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay">
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row panels-row">

            <div class="col">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <i class="fa fa-fw fa-3x fa-university text-primary"></i>
                    </div>
                    <div class="media-body">
                      <h3>¿Por qué?</h3>
                      <div class="text-muted">
                        <p>Este proyecto fue realizado en la Facultad de Informática - Universidad Nacional de La Plata. Fue realizado para la materia Taller de Proyecto 2, dictada en 5to año de la carrera Ingeniería en Computación. Se buscó realizar un proyecto que abarque la utilización de un microcontrolador Arduino y programación web a traves de Python.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <div class="awesome-icon">
                      <i class="fa fa-fw fa-3x fa-thermometer-half text-primary"></i>
                    </div>
                    <div class="media-body">
                      <h3>¿Para qué?</h3>
                      <div class="text-muted">
                        <p>Dicha idea surgió de querer realizar un prototipo de cámara termográfica sin utilizar una cámara para brindar mayor información a la hora de realizar un informe de mantenimiento predictivo. Este desarrollo busca solucionar de manera económica algunas de las siguientes problemáticas:<br>
                        • Fugas u obstrucciones en conducciones.<br>
                        • Conexiones mal realizadas.<br>
                        • Predicción de incendios o daños potenciales.<br>
                        • Sobrecarga en circuitos eléctricos. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <!--section>
        <div style="background-color: #9966CC; height: 100;">
          <p style="color: white; font-family: 'Merienda One'; padding: 20px;"> <span style="font-size: 60px;">E</span>ste proyecto fue realizado en la Facultad de Informática - Universidad Nacional de La Plata</p>
        </div>

        <div style="background-color: #F2F3F4; height: 150;">
          <p style="color: black; font-family: 'Merienda One'; padding: 20px;"> <span style="font-size: 60px;">F</span>ue realizado para la materia Taller de Proyecto 2, dictada en 5to año de la carrera Ingeniería en Computación. Se buscó realizar un proyecto que abarque la utilización de un microcontrolador Arduino y programación web a traves de Python. </p>
        </div>

        <div style="background-color: #9966CC; height: 200;">
          <p style="color: white; font-family: 'Merienda One'; padding: 20px;"> <span style="font-size: 60px;">D</span>icha idea surgió de querer realizar un prototipo de cámara termográfica sin utilizar una cámara para brindar mayor información a la hora de realizar un informe de mantenimiento predictivo. Este desarrollo busca solucionar de manera económica algunas de las siguientes problemáticas:
          </p>
        </div>

        <div style="background-color: #F2F3F4; height: 200;">
          <p style="color: black; font-family: 'Merienda One'; padding: 20px;">• Calentamiento de componentes eléctricos defectuosos.<br>
          • Fugas u obstrucciones en conducciones.<br>
          • Conexiones mal realizadas.<br>
          • Predicción de incendios o daños potenciales.<br>
          • Sobrecarga en circuitos eléctricos. </p>
        </div>
      </section-->
    </div>
  </main>

  <footer>
    <a class="footer-item" href="/">Inicio</a>
    <a class="footer-item" href="ayuda">Ayuda</a>
    <a class="footer-item" href="quien-soy">¿Quién lo realizó?</a>
    <a class="footer-item" href="camara">Cámara</a>
  </footer>

</body>
</html>

